---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=28824d09e6e5681471dda517c504b889&q=London,uk&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-0.13,"lat":51.51},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"base":"stations","main":{"temp":70.16,"pressure":1011,"humidity":68,"temp_min":66,"temp_max":73.4},"visibility":10000,"wind":{"speed":8.05,"deg":170},"clouds":{"all":100},"dt":1564943515,"sys":{"type":1,"id":1414,"message":0.0114,"country":"GB","sunrise":1564892890,"sunset":1564947904},"timezone":3600,"id":2643743,"name":"London","cod":200}'
  recorded_at: Sun, 04 Aug 2019 18:36:01 GMT
recorded_with: VCR 5.0.0
